In [211]:
import pandas as pd

In [212]:
df = pd.read_csv("./Study2.csv")

In [213]:
df

,PID,attencheck1,q1,q1ans,q2,q2ans,q3,q3ans,q4,q4ans,...,moe_9r,moe_10r,moe_11r,moe_12r,moe_13r,moe_14r,moe_15r,moe_16r,moe_17r,moe_18r
0,1,Green,ADD 3,incorrect,DO NOTHING,,DO NOTHING,,DO NOTHING,,...,1,5,1,1,5,4,1,3,5,3
1,2,Green,DO NOTHING,,ADD 3,incorrect,DO NOTHING,,ADD 3,incorrect,...,5,3,4,5,3,4,5,4,1,3
2,3,Green,DO NOTHING,,ADD 3,incorrect,ADD 3,incorrect,ADD 3,incorrect,...,5,3,5,5,5,5,5,4,4,1
3,4,Green,DO NOTHING,,ADD 3,correct,DO NOTHING,,ADD 3,incorrect,...,5,3,4,4,3,4,4,3,3,3
4,5,Green,DO NOTHING,,DO NOTHING,,DO NOTHING,,DO NOTHING,,...,3,4,4,3,3,4,4,3,4,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
191,192,Green,DO NOTHING,,DO NOTHING,,DO NOTHING,,DO NOTHING,,...,3,3,4,4,3,4,4,4,1,3
192,193,Green,ADD 3,incorrect,DO NOTHING,,ADD 3,correct,DO NOTHING,,...,4,1,4,5,3,3,3,4,1,1
193,194,Green,ADD 3,incorrect,ADD 3,incorrect,ADD 3,incorrect,ADD 3,incorrect,...,4,4,4,4,3,4,4,4,3,3
194,195,Green,DO NOTHING,,ADD 3,correct,DO NOTHING,,ADD 3,incorrect,...,4,4,1,4,5,3,3,4,3,3
195,196,Green,DO NOTHING,,DO NOTHING,,ADD 3,incorrect,ADD 3,correct,...,4,3,5,4,3,4,4,4,4,4

In [214]:
df.columns.values

array(['PID', 'attencheck1', 'q1', 'q1ans', 'q2', 'q2ans', 'q3', 'q3ans',
       'q4', 'q4ans', 'q5', 'q5ans', 'q6', 'q6ans', 'q7', 'q7ans', 'q8',
       'q8ans', 'q9', 'q9ans', 'q10', 'q10ans', 'first_deckA_mental',
       'first_deckA_boredom', 'first_deckB_mental', 'first_deckB_boredom',
       'q11', 'q11ans', 'q12', 'q12ans', 'q13', 'q13ans', 'q14', 'q14ans',
       'q15', 'q15ans', 'q16', 'q16ans', 'q17', 'q17ans', 'q18', 'q18ans',
       'q19', 'q19ans', 'q20', 'q20ans', 'second_deckA_mental',
       'second_deckA_boredom', 'second_deckB_mental',
       'second_deckB_boredom', 'q21', 'q21ans', 'q22', 'q22ans', 'q23',
       'q23ans', 'q24', 'q24ans', 'q25', 'q25ans', 'q26', 'q26ans', 'q27',
       'q27ans', 'q28', 'q28ans', 'q29', 'q29ans', 'q30', 'q30ans',
       'third_deckA_mental', 'third_deckA_boredom', 'third_deckB_mental',
       'third_deckB_boredom', 'q31', 'q31ans', 'q32', 'q32ans', 'q33',
       'q33ans', 'q34', 'q34ans', 'q35', 'q35ans', 'q36', 'q36ans', 'q37',
       'q37ans', 'q38', 'q38ans', 'q39', 'q39ans', 'q40', 'q40ans',
       'fourth_deckA_mental', 'fourth_deckA_boredom',
       'fourth_deckB_mental', 'fourth_deckB_boredom', 'q41', 'q41ans',
       'q42', 'q42ans', 'q43', 'q43ans', 'q44', 'q44ans', 'q45', 'q45ans',
       'q46', 'q46ans', 'q47', 'q47ans', 'q48', 'q48ans', 'q49', 'q49ans',
       'q50', 'q50ans', 'fifth_deckA_mental', 'fifth_deckA_boredom',
       'fifth_deckB_mental', 'fifth_deckB_boredom', 'q51', 'q51ans',
       'q52', 'q52ans', 'q53', 'q53ans', 'q54', 'q54ans', 'q55', 'q55ans',
       'q56', 'q56ans', 'q57', 'q57ans', 'q58', 'q58ans', 'q59', 'q59ans',
       'q60', 'q60ans', 'sixth_deckA_mental', 'sixth_deckA_boredom',
       'sixth_deckB_mental', 'sixth_deckB_boredom', 'q61', 'q61ans',
       'q62', 'q62ans', 'q63', 'q63ans', 'q64', 'q64ans', 'q65', 'q65ans',
       'q66', 'q66ans', 'q67', 'q67ans', 'q68', 'q68ans', 'q69', 'q69ans',
       'q70', 'q70ans', 'seventh_deckA_mental', 'seventh_deckA_boredom',
       'seventh_deckB_mental', 'seventh_deckB_boredom', 'q71', 'q71ans',
       'q72', 'q72ans', 'q73', 'q73ans', 'q74', 'q74ans', 'q75', 'q75ans',
       'q76', 'q76ans', 'q77', 'q77ans', 'q78', 'q78ans', 'q79', 'q79ans',
       'q80', 'q80ans', 'eigth_deckA_mental', 'eigth_deckA_boredom',
       'eigth_deckB_mental', 'eigth_deckB_boredom', 'selfadmit',
       'attencheck2', 'nfc_1r', 'nfc_2r', 'nfc_3r', 'nfc_4r', 'nfc_5r',
       'nfc_6r', 'nfc_7r', 'nfc_8r', 'nfc_9r', 'nfc_10r', 'nfc_11r',
       'nfc_12r', 'nfc_13r', 'nfc_14r', 'nfc_15r', 'nfc_16r', 'nfc_17r',
       'nfc_18r', 'bps_1r', 'bps_2r', 'bps_3r', 'bps_4r', 'bps_5r',
       'bps_6r', 'bps_7r', 'bps_8r', 'moe_1r', 'moe_2r', 'moe_3r',
       'moe_4r', 'moe_5r', 'moe_6r', 'moe_7r', 'moe_8r', 'moe_9r',
       'moe_10r', 'moe_11r', 'moe_12r', 'moe_13r', 'moe_14r', 'moe_15r',
       'moe_16r', 'moe_17r', 'moe_18r'], dtype=object)

In [215]:
df.drop(["first_deckA_mental", "first_deckA_boredom", "first_deckB_mental", "first_deckB_boredom",
         "second_deckA_mental", "second_deckA_boredom", "second_deckB_mental", "second_deckB_boredom",
          "third_deckA_mental", "third_deckA_boredom", "third_deckB_mental", "third_deckB_boredom",
           "fourth_deckA_mental", "fourth_deckA_boredom", "fourth_deckB_mental", "fourth_deckB_boredom",
           "fifth_deckA_mental", "fifth_deckA_boredom", "fifth_deckB_mental", "fifth_deckB_boredom",
           "sixth_deckA_mental", "sixth_deckA_boredom", "sixth_deckB_mental", "sixth_deckB_boredom",
           "seventh_deckA_mental", "seventh_deckA_boredom", "seventh_deckB_mental", "seventh_deckB_boredom",
           "eigth_deckA_mental", "eigth_deckA_boredom", "eigth_deckB_mental", "eigth_deckB_boredom"],
           axis=1, inplace=True)

In [216]:
df.drop(["bps_1r", "bps_2r", "bps_3r", "bps_4r", "bps_5r", "bps_6r", "bps_7r", "bps_8r",
         "moe_1r", "moe_2r", "moe_3r", "moe_4r", "moe_5r", "moe_6r", "moe_7r", 
         "moe_8r", "moe_9r", "moe_10r", "moe_11r", "moe_12r", "moe_13r", "moe_14r",
         "moe_15r", "moe_16r", "moe_17r", "moe_18r"], axis=1, inplace=True)

In [217]:
df.drop(['q1ans', 'q2ans','q3ans', 'q4ans', 'q5ans', 'q6ans', 'q7ans','q8ans', 'q9ans', 'q10ans', 'q11ans',
            'q12ans', 'q13ans','q14ans','q15ans','q16ans', 'q17ans','q18ans','q19ans','q20ans','q21ans','q22ans',
            'q23ans', 'q24ans','q25ans', 'q26ans','q27ans', 'q28ans','q29ans','q30ans','q31ans', 'q32ans','q33ans',
            'q34ans','q35ans','q36ans','q37ans','q38ans','q39ans','q40ans', 'q41ans', 'q42ans','q43ans', 'q44ans',
            'q45ans', 'q46ans', 'q47ans','q48ans', 'q49ans', 'q50ans', 'q51ans','q52ans', 'q53ans','q54ans','q55ans',
            'q56ans', 'q57ans','q58ans','q59ans','q60ans','q61ans','q62ans','q63ans', 'q64ans','q65ans', 'q66ans',
            'q67ans', 'q68ans','q69ans','q70ans','q71ans', 'q72ans','q73ans','q74ans','q75ans','q76ans','q77ans',
            'q78ans','q79ans','q80ans', ], axis=1, inplace=True)

In [218]:
df["attencheck1"].value_counts()

attencheck1
Green     176
Yellow     20
Name: count, dtype: int64

In [219]:
df = df.drop(df[df["attencheck1"] == "Yellow"].index)

In [220]:
df["attencheck1"].value_counts()

attencheck1
Green    176
Name: count, dtype: int64

In [221]:
df["attencheck2"].value_counts()

attencheck2
Blue    176
Name: count, dtype: int64

In [222]:
df["selfadmit"].value_counts()

selfadmit
No     92
Yes    84
Name: count, dtype: int64

In [223]:
df = df.drop(df[df["selfadmit"] == "Yes"].index)

In [224]:
df["selfadmit"].value_counts()

selfadmit
No    92
Name: count, dtype: int64

In [225]:
df.drop(["attencheck1", "selfadmit", "attencheck2"], axis=1, inplace=True)

In [226]:
df.columns.values

array(['PID', 'q1', 'q2', 'q3', 'q4', 'q5', 'q6', 'q7', 'q8', 'q9', 'q10',
       'q11', 'q12', 'q13', 'q14', 'q15', 'q16', 'q17', 'q18', 'q19',
       'q20', 'q21', 'q22', 'q23', 'q24', 'q25', 'q26', 'q27', 'q28',
       'q29', 'q30', 'q31', 'q32', 'q33', 'q34', 'q35', 'q36', 'q37',
       'q38', 'q39', 'q40', 'q41', 'q42', 'q43', 'q44', 'q45', 'q46',
       'q47', 'q48', 'q49', 'q50', 'q51', 'q52', 'q53', 'q54', 'q55',
       'q56', 'q57', 'q58', 'q59', 'q60', 'q61', 'q62', 'q63', 'q64',
       'q65', 'q66', 'q67', 'q68', 'q69', 'q70', 'q71', 'q72', 'q73',
       'q74', 'q75', 'q76', 'q77', 'q78', 'q79', 'q80', 'nfc_1r',
       'nfc_2r', 'nfc_3r', 'nfc_4r', 'nfc_5r', 'nfc_6r', 'nfc_7r',
       'nfc_8r', 'nfc_9r', 'nfc_10r', 'nfc_11r', 'nfc_12r', 'nfc_13r',
       'nfc_14r', 'nfc_15r', 'nfc_16r', 'nfc_17r', 'nfc_18r'],
      dtype=object)

In [227]:
kolumner = ['q1', 'q2','q3', 'q4', 'q5', 'q6', 'q7','q8', 'q9', 'q10', 'q11',
            'q12', 'q13','q14','q15','q16', 'q17','q18','q19','q20','q21','q22',
            'q23', 'q24','q25', 'q26','q27', 'q28','q29','q30','q31', 'q32','q33',
            'q34','q35','q36','q37','q38','q39','q40','q41', 'q42','q43', 'q44', 'q45',
            'q46', 'q47','q48', 'q49', 'q50', 'q51','q52', 'q53','q54','q55','q56',
            'q57','q58','q59','q60','q61','q62','q63', 'q64','q65', 'q66','q67',
            'q68','q69','q70','q71', 'q72','q73','q74','q75','q76','q77','q78','q79','q80']
for i in kolumner:
    df[i] = df[i].replace({"ADD 3": 2, "DO NOTHING": 1})

C:\Users\marku\AppData\Local\Temp\ipykernel_2584\346590850.py:9: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df[i] = df[i].replace({"ADD 3": 2, "DO NOTHING": 1})

In [228]:
"""nfc = df.drop(['q1', 'q2','q3', 'q4', 'q5', 'q6', 'q7','q8', 'q9', 'q10', 'q11',
            'q12', 'q13','q14','q15','q16', 'q17','q18','q19','q20','q21','q22',
            'q23', 'q24','q25', 'q26','q27', 'q28','q29','q30','q31', 'q32','q33',
            'q34','q35','q36','q37','q38','q39','q40','q41', 'q42','q43', 'q44', 'q45',
            'q46', 'q47','q48', 'q49', 'q50', 'q51','q52', 'q53','q54','q55','q56',
            'q57','q58','q59','q60','q61','q62','q63', 'q64','q65', 'q66','q67',
            'q68','q69','q70','q71', 'q72','q73','q74','q75','q76','q77','q78','q79','q80']
            , axis=1, inplace=True)

nfc = df.to_csv('Study2_nfc.csv', index= False)"""

"nfc = df.drop(['q1', 'q2','q3', 'q4', 'q5', 'q6', 'q7','q8', 'q9', 'q10', 'q11',\n            'q12', 'q13','q14','q15','q16', 'q17','q18','q19','q20','q21','q22',\n            'q23', 'q24','q25', 'q26','q27', 'q28','q29','q30','q31', 'q32','q33',\n            'q34','q35','q36','q37','q38','q39','q40','q41', 'q42','q43', 'q44', 'q45',\n            'q46', 'q47','q48', 'q49', 'q50', 'q51','q52', 'q53','q54','q55','q56',\n            'q57','q58','q59','q60','q61','q62','q63', 'q64','q65', 'q66','q67',\n            'q68','q69','q70','q71', 'q72','q73','q74','q75','q76','q77','q78','q79','q80']\n            , axis=1, inplace=True)\n\nnfc = df.to_csv('Study2_nfc.csv', index= False)"

In [232]:
nfc = pd.read_csv("./Study2_nfc.csv")
nfc

,PID,nfc_1r,nfc_2r,nfc_3r,nfc_4r,nfc_5r,nfc_6r,nfc_7r,nfc_8r,nfc_9r,nfc_10r,nfc_11r,nfc_12r,nfc_13r,nfc_14r,nfc_15r,nfc_16r,nfc_17r,nfc_18r
0,2,1,2,2,4,2,5,4,5,5,5,4,2,2,5,5,5,3,5
1,3,3,3,1,2,1,1,5,4,3,4,5,1,4,3,3,5,3,3
2,4,2,3,3,4,3,3,2,3,4,4,2,4,2,2,2,4,4,4
3,7,3,5,1,1,2,5,1,3,4,5,5,2,2,4,1,3,5,5
4,13,4,5,2,1,1,5,3,1,4,5,5,2,3,4,3,5,1,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
87,185,4,3,4,5,5,4,3,5,4,5,4,3,4,4,4,5,4,3
88,186,2,4,3,2,2,4,4,3,4,4,4,4,4,4,4,5,3,4
89,190,2,1,4,4,4,1,5,5,1,1,2,5,1,3,1,2,5,2
90,194,4,3,2,2,2,3,4,1,4,4,4,2,4,2,4,4,2,2
91,196,4,4,2,3,3,4,3,3,4,4,4,4,5,3,4,4,3,3

In [229]:
df.drop(["nfc_1r", "nfc_2r", "nfc_3r", "nfc_4r", "nfc_5r", "nfc_6r","nfc_7r", "nfc_8r",
         "nfc_9r", "nfc_10r", "nfc_11r", "nfc_12r", "nfc_13r", "nfc_14r", "nfc_15r", "nfc_16r",
          "nfc_17r", "nfc_18r" ], axis=1, inplace=True)

In [230]:
df

,PID,q1,q2,q3,q4,q5,q6,q7,q8,q9,...,q71,q72,q73,q74,q75,q76,q77,q78,q79,q80
1,2,1,2,1,2,2,2,1,2,2,...,1,2,1,2,1,2,2,2,1,2
2,3,1,2,2,2,2,2,1,2,2,...,1,2,2,2,2,2,2,2,2,2
3,4,1,2,1,2,1,2,2,1,2,...,1,1,2,1,1,2,2,2,1,1
6,7,1,2,1,1,1,2,1,1,1,...,1,1,1,1,1,1,1,2,1,1
12,13,1,2,2,1,2,2,2,1,1,...,1,1,1,1,1,1,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
184,185,1,1,1,1,1,1,1,2,1,...,1,1,1,1,1,1,1,1,1,1
185,186,2,2,1,1,1,2,2,1,2,...,1,2,2,2,1,2,2,2,1,2
189,190,1,2,1,2,1,2,1,2,1,...,1,1,1,1,1,1,1,1,1,1
193,194,2,2,2,2,1,2,2,2,2,...,1,1,1,2,2,2,2,2,1,1
195,196,1,1,2,2,2,1,1,2,2,...,1,1,1,1,1,1,1,1,2,2

In [233]:
df_trials_long = df.melt(
    id_vars='PID',
    var_name='trial',
    value_name='choice'
)

df_trials_long

      PID trial  choice
0       2    q1       1
1       3    q1       1
2       4    q1       1
3       7    q1       1
4      13    q1       1
...   ...   ...     ...
7355  185   q80       1
7356  186   q80       2
7357  190   q80       1
7358  194   q80       1
7359  196   q80       2

[7360 rows x 3 columns]

In [239]:
df_nfc_long = nfc.melt(
    id_vars='PID',
    var_name='trial',
    value_name='nfc score'
)

df_nfc_long

      PID    trial  nfc score
0       2   nfc_1r          1
1       3   nfc_1r          3
2       4   nfc_1r          2
3       7   nfc_1r          3
4      13   nfc_1r          4
...   ...      ...        ...
1651  185  nfc_18r          3
1652  186  nfc_18r          4
1653  190  nfc_18r          2
1654  194  nfc_18r          2
1655  196  nfc_18r          3

[1656 rows x 3 columns]

In [243]:
df_nfc_long['trial'] = df_nfc_long['trial'].str.replace('nfc_', 'q', regex=False)
df_nfc_long['trial'] = df_nfc_long['trial'].str.replace('r', '', regex=False)

In [244]:
df_merge = pd.merge(df_trials_long, df_nfc_long, on =['PID', 'trial'], how='inner')

df_merge

      PID trial  choice  nfc score
0       2    q1       1          1
1       3    q1       1          3
2       4    q1       1          2
3       7    q1       1          3
4      13    q1       1          4
...   ...   ...     ...        ...
1651  185   q18       1          3
1652  186   q18       2          4
1653  190   q18       1          2
1654  194   q18       2          2
1655  196   q18       2          3

[1656 rows x 4 columns]