In [48]:
import pandas as pd

In [49]:
df = pd.read_csv("./Study6.csv")

In [50]:
df

,PID,attencheck1,q1.1,q1.1ans,q1.2,q1.2ans,q1.3,q1.3ans,q1.4,q1.4ans,...,me_14,me_15,me_16,me_2,me_7,me_8,me_10,me_13,me_17,me_18
0,1,Green,,,,,NOTHING,,,,...,5,4,4,3,5,5,3,5,5,5
1,2,Yellow,,,NOTHING,,,,,,...,1,1,1,2,2,1,2,2,3,3
2,3,Yellow,NOTHING,,,,,,,,...,4,4,5,1,3,3,2,3,3,3
3,4,Green,,,,,,,NOTHING,,...,4,1,3,3,5,5,2,3,3,2
4,5,Yellow,,,ADD,correct,,,,,...,4,4,3,3,3,3,3,3,3,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
193,194,Green,,,,,,,ADD,incorrect,...,4,4,4,3,3,3,3,3,3,3
194,195,Green,,,,,ADD,correct,,,...,3,3,3,2,3,3,3,1,2,2
195,196,Green,,,,,,,NOTHING,,...,5,5,5,3,5,5,3,5,3,5
196,197,Green,,,,,,,ADD,correct,...,5,5,5,2,3,3,3,5,3,2
197,198,Green,,,,,NOTHING,,,,...,5,4,4,3,3,3,3,3,2,3

In [51]:
df.columns.values

array(['PID', 'attencheck1', 'q1.1', 'q1.1ans', 'q1.2', 'q1.2ans', 'q1.3',
       'q1.3ans', 'q1.4', 'q1.4ans', 'q2.1', 'q2.1ans', 'q2.2', 'q2.2ans',
       'q2.3', 'q2.3ans', 'q2.4', 'q2.4ans', 'q3.1', 'q3.1ans', 'q3.2',
       'q3.2ans', 'q3.3', 'q3.3ans', 'q3.4', 'q3.4ans', 'q4.1', 'q4.1ans',
       'q4.2', 'q4.2ans', 'q4.3', 'q4.3ans', 'q4.4', 'q4.4ans', 'q5.1',
       'q5.5ans', 'q5.2', 'q5.2ans', 'q5.3', 'q5.3ans', 'q5.4', 'q5.4ans',
       'q6.1', 'q6.1ans', 'q6.2', 'q6.2ans', 'q6.3', 'q6.3ans', 'q6.4',
       'q6.4ans', 'q7.1', 'q7.1ans', 'q7.2', 'q7.2ans', 'q7.3', 'q7.3ans',
       'q7.4', 'q7.4ans', 'q8.1', 'q8.1ans', 'q8.2', 'q8.2ans', 'q8.3',
       'q8.3ans', 'q8.4', 'q8.4ans', 'q9.1', 'q9.1ans', 'q9.2', 'q9.2ans',
       'q9.3', 'q9.3ans', 'q9.4', 'q9.4ans', 'q10.1', 'q10.1ans', 'q10.2',
       'q10.2ans', 'q10.3', 'q10.3ans', 'q10.4', 'q10.4ans',
       'deckA_mental_firstten', 'deckA_boredom_firstten',
       'deckB_mental_firstten', 'deckB_boredom_firstten', 'q11.1',
       'q11.1ans', 'q11.2', 'q11.2ans', 'q11.3', 'q11.3ans', 'q11.4',
       'q11.4ans', 'q12.1', 'q12.1ans', 'q12.2', 'q12.2ans', 'q12.3',
       'q12.3ans', 'q12.4', 'q12.4ans', 'q13.1', 'q13.1ans', 'q13.2',
       'q13.2ans', 'q13.3', 'q13.3ans', 'q13.4', 'q13.4ans', 'q14.1',
       'q14.1ans', 'q14.2', 'q14.2ans', 'q14.3', 'q14.3ans', 'q14.4',
       'q14.4ans', 'q15.1', 'q15.1ans', 'q15.2', 'q15.2ans', 'q15.3',
       'q15.3ans', 'q15.4', 'q15.5ans', 'q16.1', 'q16.1ans', 'q16.2',
       'q16.2ans', 'q16.3', 'q16.3ans', 'q16.4', 'q16.4ans', 'q17.1',
       'q17.1ans', 'q17.2', 'q17.2ans', 'q17.3', 'q17.3ans', 'q17.4',
       'q17.4ans', 'q18.1', 'q18.1ans', 'q18.2', 'q18.2ans', 'q18.3',
       'q18.3ans', 'q18.4', 'q18.4ans', 'q19.1', 'q19.1ans', 'q19.2',
       'q19.2ans', 'q19.3', 'q19.3ans', 'q19.4', 'q19.4ans', 'q20.1',
       'q20.1ans', 'q20.2', 'q20.2ans', 'q20.3', 'q20.3ans', 'q20.4',
       'q20.4ans', 'deckA_mental_twenty', 'deckA_boredom_twenty',
       'deckB_mental_twenty', 'deckB_boredom_twenty', 'q21.1', 'q21.1ans',
       'q21.2', 'q21.2ans', 'q21.3', 'q21.3ans', 'q21.4', 'q21.4ans',
       'q22.1', 'q22.1ans', 'q22.2', 'q22.2ans', 'q22.3', 'q22.3ans',
       'q22.4', 'q22.4ans', 'q23.1', 'q23.1ans', 'q23.2', 'q23.2ans',
       'q23.3', 'q23.3ans', 'q23.4', 'q23.4ans', 'q24.1', 'q24.1ans',
       'q24.2', 'q24.2ans', 'q24.3', 'q24.3ans', 'q24.4', 'q24.4ans',
       'q25.1', 'q25.1ans', 'q25.2', 'q25.2ans', 'q25.3', 'q25.3ans',
       'q25.4', 'q25.4ans', 'q26.1', 'q26.1ans', 'q26.2', 'q26.2ans',
       'q26.3', 'q26.3ans', 'q26.4', 'q26.4ans', 'q27.1', 'q27.1ans',
       'q27.2', 'q27.2ans', 'q27.3', 'q27.3ans', 'q27.4', 'q27.4ans',
       'q28.1', 'q28.1ans', 'q28.2', 'q28.2ans', 'q28.3', 'q28.3ans',
       'q28.4', 'q28.4ans', 'q29.1', 'q29.1ans', 'q29.2', 'q29.2ans',
       'q29.3', 'q29.3ans', 'q29.4', 'q29.4ans', 'deckA_mental_thirty',
       'deckA_boredom_thirty', 'deckB_mental_thirty',
       'deckB_boredom_thirty', 'q30.1', 'q30.1ans', 'q30.2', 'q30.2ans',
       'q30.3', 'q30.3ans', 'q30.4', 'q30.4ans', 'q31.1', 'q31.1ans',
       'q31.2', 'q31.2ans', 'q31.3', 'q31.3ans', 'q31.4', 'q31.4ans',
       'q32.1', 'q32.1ans', 'q32.2', 'q32.2ans', 'q32.3', 'q32.3ans',
       'q32.4', 'q32.4ans', 'q33.1', 'q33.1ans', 'q33.2', 'q33.2ans',
       'q33.3', 'q33.3ans', 'q33.4', 'q33.4ans', 'q34.1', 'q34.1ans',
       'q34.2', 'q34.2ans', 'q34.3', 'q34.3ans', 'q34.4', 'q34.4ans',
       'q35.1', 'q35.1ans', 'q35.2', 'q35.2ans', 'q35.3', 'q35.3ans',
       'q35.4', 'q35.4ans', 'q36.1', 'q36.1ans', 'q36.2', 'q36.2ans',
       'q36.3', 'q36.3ans', 'q36.4', 'q36.4ans', 'q37.1', 'q37.1ans',
       'q37.2', 'q37.2ans', 'q37.3', 'q37.3ans', 'q37.4', 'q37.4ans',
       'q38.1', 'q38.1ans', 'q38.2', 'q38.2ans', 'q38.3', 'q38.3ans',
       'q38.4', 'q38.4ans', 'q39.1', 'q39.1ans', 'q39.2', 'q39.2ans',
       'q39.3', 'q39.3ans', 'q39.4', 'q39.4ans', 'q40.1', 'q40.1ans',
       'q40.2', 'q40.2ans', 'q40.3', 'q40.3ans', 'q40.4', 'q40.4ans',
       'deckA_mental_final', 'deckA_boredom_final', 'deckB_mental_final',
       'deckB_boredom_final', 'selfadmit', 'attencheck2',
       'deckAtotaleffort', 'deckAtotalboredom', 'deckBtotaleffort',
       'deckBtotalboredom', 'nfc_2', 'nfc_6', 'nfc_10', 'nfc_11',
       'nfc_13', 'nfc_14', 'nfc_15', 'nfc_18', 'nfc_1', 'nfc_3', 'nfc_4',
       'nfc_5', 'nfc_7', 'nfc_9', 'nfc_8', 'nfc_12', 'nfc_16', 'nfc_17',
       'Bps_1', 'Bps_2', 'Bps_3', 'Bps_4', 'Bps_5', 'Bps_6', 'Bps_7',
       'Bps_8', 'me_1', 'me_3', 'me_4', 'me_5', 'me_6', 'me_9', 'me_11',
       'me_12', 'me_14', 'me_15', 'me_16', 'me_2', 'me_7', 'me_8',
       'me_10', 'me_13', 'me_17', 'me_18'], dtype=object)

In [52]:
df.drop(["deckA_mental_firstten", "deckA_boredom_firstten", "deckB_mental_firstten",
         "deckB_boredom_firstten", "deckA_mental_twenty", "deckA_boredom_twenty", 
         "deckB_mental_twenty", "deckB_boredom_firstten", "deckA_mental_thirty",
         "deckA_boredom_thirty", "deckB_mental_thirty", "deckB_boredom_thirty", 
         "deckA_mental_final", "deckA_boredom_final", "deckB_mental_final", "deckB_boredom_final",
         "deckAtotaleffort", "deckAtotalboredom", "deckBtotaleffort", "deckBtotalboredom"]
         , axis=1, inplace=True)

In [53]:
df.drop(["Bps_1", "Bps_2", "Bps_3", "Bps_4", "Bps_5", "Bps_6", "Bps_7", "Bps_8",
        "me_1", "me_2", "me_3", "me_4", "me_5", "me_6", "me_7", "me_8", "me_9",
        "me_10", "me_11", "me_12", "me_13", "me_14", "me_15", "me_16", "me_17",
         "me_18"], axis=1, inplace=True)

In [54]:
df.columns.values

array(['PID', 'attencheck1', 'q1.1', 'q1.1ans', 'q1.2', 'q1.2ans', 'q1.3',
       'q1.3ans', 'q1.4', 'q1.4ans', 'q2.1', 'q2.1ans', 'q2.2', 'q2.2ans',
       'q2.3', 'q2.3ans', 'q2.4', 'q2.4ans', 'q3.1', 'q3.1ans', 'q3.2',
       'q3.2ans', 'q3.3', 'q3.3ans', 'q3.4', 'q3.4ans', 'q4.1', 'q4.1ans',
       'q4.2', 'q4.2ans', 'q4.3', 'q4.3ans', 'q4.4', 'q4.4ans', 'q5.1',
       'q5.5ans', 'q5.2', 'q5.2ans', 'q5.3', 'q5.3ans', 'q5.4', 'q5.4ans',
       'q6.1', 'q6.1ans', 'q6.2', 'q6.2ans', 'q6.3', 'q6.3ans', 'q6.4',
       'q6.4ans', 'q7.1', 'q7.1ans', 'q7.2', 'q7.2ans', 'q7.3', 'q7.3ans',
       'q7.4', 'q7.4ans', 'q8.1', 'q8.1ans', 'q8.2', 'q8.2ans', 'q8.3',
       'q8.3ans', 'q8.4', 'q8.4ans', 'q9.1', 'q9.1ans', 'q9.2', 'q9.2ans',
       'q9.3', 'q9.3ans', 'q9.4', 'q9.4ans', 'q10.1', 'q10.1ans', 'q10.2',
       'q10.2ans', 'q10.3', 'q10.3ans', 'q10.4', 'q10.4ans', 'q11.1',
       'q11.1ans', 'q11.2', 'q11.2ans', 'q11.3', 'q11.3ans', 'q11.4',
       'q11.4ans', 'q12.1', 'q12.1ans', 'q12.2', 'q12.2ans', 'q12.3',
       'q12.3ans', 'q12.4', 'q12.4ans', 'q13.1', 'q13.1ans', 'q13.2',
       'q13.2ans', 'q13.3', 'q13.3ans', 'q13.4', 'q13.4ans', 'q14.1',
       'q14.1ans', 'q14.2', 'q14.2ans', 'q14.3', 'q14.3ans', 'q14.4',
       'q14.4ans', 'q15.1', 'q15.1ans', 'q15.2', 'q15.2ans', 'q15.3',
       'q15.3ans', 'q15.4', 'q15.5ans', 'q16.1', 'q16.1ans', 'q16.2',
       'q16.2ans', 'q16.3', 'q16.3ans', 'q16.4', 'q16.4ans', 'q17.1',
       'q17.1ans', 'q17.2', 'q17.2ans', 'q17.3', 'q17.3ans', 'q17.4',
       'q17.4ans', 'q18.1', 'q18.1ans', 'q18.2', 'q18.2ans', 'q18.3',
       'q18.3ans', 'q18.4', 'q18.4ans', 'q19.1', 'q19.1ans', 'q19.2',
       'q19.2ans', 'q19.3', 'q19.3ans', 'q19.4', 'q19.4ans', 'q20.1',
       'q20.1ans', 'q20.2', 'q20.2ans', 'q20.3', 'q20.3ans', 'q20.4',
       'q20.4ans', 'deckB_boredom_twenty', 'q21.1', 'q21.1ans', 'q21.2',
       'q21.2ans', 'q21.3', 'q21.3ans', 'q21.4', 'q21.4ans', 'q22.1',
       'q22.1ans', 'q22.2', 'q22.2ans', 'q22.3', 'q22.3ans', 'q22.4',
       'q22.4ans', 'q23.1', 'q23.1ans', 'q23.2', 'q23.2ans', 'q23.3',
       'q23.3ans', 'q23.4', 'q23.4ans', 'q24.1', 'q24.1ans', 'q24.2',
       'q24.2ans', 'q24.3', 'q24.3ans', 'q24.4', 'q24.4ans', 'q25.1',
       'q25.1ans', 'q25.2', 'q25.2ans', 'q25.3', 'q25.3ans', 'q25.4',
       'q25.4ans', 'q26.1', 'q26.1ans', 'q26.2', 'q26.2ans', 'q26.3',
       'q26.3ans', 'q26.4', 'q26.4ans', 'q27.1', 'q27.1ans', 'q27.2',
       'q27.2ans', 'q27.3', 'q27.3ans', 'q27.4', 'q27.4ans', 'q28.1',
       'q28.1ans', 'q28.2', 'q28.2ans', 'q28.3', 'q28.3ans', 'q28.4',
       'q28.4ans', 'q29.1', 'q29.1ans', 'q29.2', 'q29.2ans', 'q29.3',
       'q29.3ans', 'q29.4', 'q29.4ans', 'q30.1', 'q30.1ans', 'q30.2',
       'q30.2ans', 'q30.3', 'q30.3ans', 'q30.4', 'q30.4ans', 'q31.1',
       'q31.1ans', 'q31.2', 'q31.2ans', 'q31.3', 'q31.3ans', 'q31.4',
       'q31.4ans', 'q32.1', 'q32.1ans', 'q32.2', 'q32.2ans', 'q32.3',
       'q32.3ans', 'q32.4', 'q32.4ans', 'q33.1', 'q33.1ans', 'q33.2',
       'q33.2ans', 'q33.3', 'q33.3ans', 'q33.4', 'q33.4ans', 'q34.1',
       'q34.1ans', 'q34.2', 'q34.2ans', 'q34.3', 'q34.3ans', 'q34.4',
       'q34.4ans', 'q35.1', 'q35.1ans', 'q35.2', 'q35.2ans', 'q35.3',
       'q35.3ans', 'q35.4', 'q35.4ans', 'q36.1', 'q36.1ans', 'q36.2',
       'q36.2ans', 'q36.3', 'q36.3ans', 'q36.4', 'q36.4ans', 'q37.1',
       'q37.1ans', 'q37.2', 'q37.2ans', 'q37.3', 'q37.3ans', 'q37.4',
       'q37.4ans', 'q38.1', 'q38.1ans', 'q38.2', 'q38.2ans', 'q38.3',
       'q38.3ans', 'q38.4', 'q38.4ans', 'q39.1', 'q39.1ans', 'q39.2',
       'q39.2ans', 'q39.3', 'q39.3ans', 'q39.4', 'q39.4ans', 'q40.1',
       'q40.1ans', 'q40.2', 'q40.2ans', 'q40.3', 'q40.3ans', 'q40.4',
       'q40.4ans', 'selfadmit', 'attencheck2', 'nfc_2', 'nfc_6', 'nfc_10',
       'nfc_11', 'nfc_13', 'nfc_14', 'nfc_15', 'nfc_18', 'nfc_1', 'nfc_3',
       'nfc_4', 'nfc_5', 'nfc_7', 'nfc_9', 'nfc_8', 'nfc_12', 'nfc_16',
       'nfc_17'], dtype=object)

In [55]:
df["attencheck1"].value_counts()

attencheck1
Green     181
Yellow     17
Name: count, dtype: int64

In [56]:
df = df.drop(df[df["attencheck1"] == "Yellow"].index)

In [57]:
df["attencheck1"].value_counts()

attencheck1
Green    181
Name: count, dtype: int64

In [58]:
df["attencheck2"].value_counts()

attencheck2
Blue     180
Green      1
Name: count, dtype: int64

In [59]:
df = df.drop(df[df["attencheck2"] == "Green"].index)

In [60]:
df["attencheck2"].value_counts()

attencheck2
Blue    180
Name: count, dtype: int64

In [61]:
df["selfadmit"].value_counts()

selfadmit
No     138
Yes     42
Name: count, dtype: int64

In [62]:
df = df.drop(df[df["selfadmit"] == "Yes"].index)

In [63]:
df["selfadmit"].value_counts()

selfadmit
No    138
Name: count, dtype: int64

In [64]:
df

,PID,attencheck1,q1.1,q1.1ans,q1.2,q1.2ans,q1.3,q1.3ans,q1.4,q1.4ans,...,nfc_1,nfc_3,nfc_4,nfc_5,nfc_7,nfc_9,nfc_8,nfc_12,nfc_16,nfc_17
0,1,Green,,,,,NOTHING,,,,...,2,5,2,5,4,4,5,5,1,4
3,4,Green,,,,,,,NOTHING,,...,4,2,4,3,2,3,2,5,2,3
5,6,Green,ADD,incorrect,,,,,,,...,5,5,5,4,5,5,5,5,4,3
6,7,Green,,,NOTHING,,,,,,...,4,4,4,5,4,2,2,4,2,3
7,8,Green,,,,,ADD,incorrect,,,...,3,4,2,4,2,4,4,5,3,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
192,193,Green,ADD,correct,,,,,,,...,4,4,3,4,2,2,1,4,2,4
193,194,Green,,,,,,,ADD,incorrect,...,4,3,4,4,3,2,5,5,2,5
194,195,Green,,,,,ADD,correct,,,...,3,4,3,3,2,2,2,4,2,2
196,197,Green,,,,,,,ADD,correct,...,1,3,4,4,3,2,5,4,5,4
197,198,Green,,,,,NOTHING,,,,...,3,2,4,2,2,4,2,3,2,2