In [33]:
import pandas as pd

In [34]:
df = pd.read_csv("./Study2.csv")

In [35]:
df

,PID,attencheck1,q1,q1ans,q2,q2ans,q3,q3ans,q4,q4ans,...,moe_9r,moe_10r,moe_11r,moe_12r,moe_13r,moe_14r,moe_15r,moe_16r,moe_17r,moe_18r
0,1,Green,ADD 3,incorrect,DO NOTHING,,DO NOTHING,,DO NOTHING,,...,1,5,1,1,5,4,1,3,5,3
1,2,Green,DO NOTHING,,ADD 3,incorrect,DO NOTHING,,ADD 3,incorrect,...,5,3,4,5,3,4,5,4,1,3
2,3,Green,DO NOTHING,,ADD 3,incorrect,ADD 3,incorrect,ADD 3,incorrect,...,5,3,5,5,5,5,5,4,4,1
3,4,Green,DO NOTHING,,ADD 3,correct,DO NOTHING,,ADD 3,incorrect,...,5,3,4,4,3,4,4,3,3,3
4,5,Green,DO NOTHING,,DO NOTHING,,DO NOTHING,,DO NOTHING,,...,3,4,4,3,3,4,4,3,4,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
191,192,Green,DO NOTHING,,DO NOTHING,,DO NOTHING,,DO NOTHING,,...,3,3,4,4,3,4,4,4,1,3
192,193,Green,ADD 3,incorrect,DO NOTHING,,ADD 3,correct,DO NOTHING,,...,4,1,4,5,3,3,3,4,1,1
193,194,Green,ADD 3,incorrect,ADD 3,incorrect,ADD 3,incorrect,ADD 3,incorrect,...,4,4,4,4,3,4,4,4,3,3
194,195,Green,DO NOTHING,,ADD 3,correct,DO NOTHING,,ADD 3,incorrect,...,4,4,1,4,5,3,3,4,3,3
195,196,Green,DO NOTHING,,DO NOTHING,,ADD 3,incorrect,ADD 3,correct,...,4,3,5,4,3,4,4,4,4,4

In [36]:
df.drop(["first_deckA_mental", "first_deckA_boredom", "first_deckB_mental", "first_deckB_boredom",
         "second_deckA_mental", "second_deckA_boredom", "second_deckB_mental", "second_deckB_boredom",
          "third_deckA_mental", "third_deckA_boredom", "third_deckB_mental", "third_deckB_boredom",
           "fourth_deckA_mental", "fourth_deckA_boredom", "fourth_deckB_mental", "fourth_deckB_boredom",
           "fifth_deckA_mental", "fifth_deckA_boredom", "fifth_deckB_mental", "fifth_deckB_boredom",
           "sixth_deckA_mental", "sixth_deckA_boredom", "sixth_deckB_mental", "sixth_deckB_boredom",
           "seventh_deckA_mental", "seventh_deckA_boredom", "seventh_deckB_mental", "seventh_deckB_boredom",
           "eigth_deckA_mental", "eigth_deckA_boredom", "eigth_deckB_mental", "eigth_deckB_boredom"],
           axis=1, inplace=True)

In [37]:
df.drop(["bps_1r", "bps_2r", "bps_3r", "bps_4r", "bps_5r", "bps_6r", "bps_7r", "bps_8r",
         "moe_1r", "moe_2r", "moe_3r", "moe_4r", "moe_5r", "moe_6r", "moe_7r", 
         "moe_8r", "moe_9r", "moe_10r", "moe_11r", "moe_12r", "moe_13r", "moe_14r",
         "moe_15r", "moe_16r", "moe_17r", "moe_18r"], axis=1, inplace=True)

In [38]:
df.columns.values

array(['PID', 'attencheck1', 'q1', 'q1ans', 'q2', 'q2ans', 'q3', 'q3ans',
       'q4', 'q4ans', 'q5', 'q5ans', 'q6', 'q6ans', 'q7', 'q7ans', 'q8',
       'q8ans', 'q9', 'q9ans', 'q10', 'q10ans', 'q11', 'q11ans', 'q12',
       'q12ans', 'q13', 'q13ans', 'q14', 'q14ans', 'q15', 'q15ans', 'q16',
       'q16ans', 'q17', 'q17ans', 'q18', 'q18ans', 'q19', 'q19ans', 'q20',
       'q20ans', 'q21', 'q21ans', 'q22', 'q22ans', 'q23', 'q23ans', 'q24',
       'q24ans', 'q25', 'q25ans', 'q26', 'q26ans', 'q27', 'q27ans', 'q28',
       'q28ans', 'q29', 'q29ans', 'q30', 'q30ans', 'q31', 'q31ans', 'q32',
       'q32ans', 'q33', 'q33ans', 'q34', 'q34ans', 'q35', 'q35ans', 'q36',
       'q36ans', 'q37', 'q37ans', 'q38', 'q38ans', 'q39', 'q39ans', 'q40',
       'q40ans', 'q41', 'q41ans', 'q42', 'q42ans', 'q43', 'q43ans', 'q44',
       'q44ans', 'q45', 'q45ans', 'q46', 'q46ans', 'q47', 'q47ans', 'q48',
       'q48ans', 'q49', 'q49ans', 'q50', 'q50ans', 'q51', 'q51ans', 'q52',
       'q52ans', 'q53', 'q53ans', 'q54', 'q54ans', 'q55', 'q55ans', 'q56',
       'q56ans', 'q57', 'q57ans', 'q58', 'q58ans', 'q59', 'q59ans', 'q60',
       'q60ans', 'q61', 'q61ans', 'q62', 'q62ans', 'q63', 'q63ans', 'q64',
       'q64ans', 'q65', 'q65ans', 'q66', 'q66ans', 'q67', 'q67ans', 'q68',
       'q68ans', 'q69', 'q69ans', 'q70', 'q70ans', 'q71', 'q71ans', 'q72',
       'q72ans', 'q73', 'q73ans', 'q74', 'q74ans', 'q75', 'q75ans', 'q76',
       'q76ans', 'q77', 'q77ans', 'q78', 'q78ans', 'q79', 'q79ans', 'q80',
       'q80ans', 'selfadmit', 'attencheck2', 'nfc_1r', 'nfc_2r', 'nfc_3r',
       'nfc_4r', 'nfc_5r', 'nfc_6r', 'nfc_7r', 'nfc_8r', 'nfc_9r',
       'nfc_10r', 'nfc_11r', 'nfc_12r', 'nfc_13r', 'nfc_14r', 'nfc_15r',
       'nfc_16r', 'nfc_17r', 'nfc_18r'], dtype=object)

In [39]:
df["attencheck1"].value_counts()

attencheck1
Green     176
Yellow     20
Name: count, dtype: int64

In [40]:
df = df.drop(df[df["attencheck1"] == "Yellow"].index)

In [41]:
df["attencheck1"].value_counts()

attencheck1
Green    176
Name: count, dtype: int64

In [42]:
df["attencheck2"].value_counts()

attencheck2
Blue    176
Name: count, dtype: int64

In [43]:
df = df.drop(df[df["attencheck2"] == "Green"].index)

In [44]:
df["attencheck2"].value_counts()

attencheck2
Blue    176
Name: count, dtype: int64

In [45]:
df["selfadmit"].value_counts()

selfadmit
No     92
Yes    84
Name: count, dtype: int64

In [46]:
df = df.drop(df[df["selfadmit"] == "Yes"].index)

In [47]:
df["selfadmit"].value_counts()

selfadmit
No    92
Name: count, dtype: int64

In [48]:
df.columns.values

array(['PID', 'attencheck1', 'q1', 'q1ans', 'q2', 'q2ans', 'q3', 'q3ans',
       'q4', 'q4ans', 'q5', 'q5ans', 'q6', 'q6ans', 'q7', 'q7ans', 'q8',
       'q8ans', 'q9', 'q9ans', 'q10', 'q10ans', 'q11', 'q11ans', 'q12',
       'q12ans', 'q13', 'q13ans', 'q14', 'q14ans', 'q15', 'q15ans', 'q16',
       'q16ans', 'q17', 'q17ans', 'q18', 'q18ans', 'q19', 'q19ans', 'q20',
       'q20ans', 'q21', 'q21ans', 'q22', 'q22ans', 'q23', 'q23ans', 'q24',
       'q24ans', 'q25', 'q25ans', 'q26', 'q26ans', 'q27', 'q27ans', 'q28',
       'q28ans', 'q29', 'q29ans', 'q30', 'q30ans', 'q31', 'q31ans', 'q32',
       'q32ans', 'q33', 'q33ans', 'q34', 'q34ans', 'q35', 'q35ans', 'q36',
       'q36ans', 'q37', 'q37ans', 'q38', 'q38ans', 'q39', 'q39ans', 'q40',
       'q40ans', 'q41', 'q41ans', 'q42', 'q42ans', 'q43', 'q43ans', 'q44',
       'q44ans', 'q45', 'q45ans', 'q46', 'q46ans', 'q47', 'q47ans', 'q48',
       'q48ans', 'q49', 'q49ans', 'q50', 'q50ans', 'q51', 'q51ans', 'q52',
       'q52ans', 'q53', 'q53ans', 'q54', 'q54ans', 'q55', 'q55ans', 'q56',
       'q56ans', 'q57', 'q57ans', 'q58', 'q58ans', 'q59', 'q59ans', 'q60',
       'q60ans', 'q61', 'q61ans', 'q62', 'q62ans', 'q63', 'q63ans', 'q64',
       'q64ans', 'q65', 'q65ans', 'q66', 'q66ans', 'q67', 'q67ans', 'q68',
       'q68ans', 'q69', 'q69ans', 'q70', 'q70ans', 'q71', 'q71ans', 'q72',
       'q72ans', 'q73', 'q73ans', 'q74', 'q74ans', 'q75', 'q75ans', 'q76',
       'q76ans', 'q77', 'q77ans', 'q78', 'q78ans', 'q79', 'q79ans', 'q80',
       'q80ans', 'selfadmit', 'attencheck2', 'nfc_1r', 'nfc_2r', 'nfc_3r',
       'nfc_4r', 'nfc_5r', 'nfc_6r', 'nfc_7r', 'nfc_8r', 'nfc_9r',
       'nfc_10r', 'nfc_11r', 'nfc_12r', 'nfc_13r', 'nfc_14r', 'nfc_15r',
       'nfc_16r', 'nfc_17r', 'nfc_18r'], dtype=object)

In [49]:
df

,PID,attencheck1,q1,q1ans,q2,q2ans,q3,q3ans,q4,q4ans,...,nfc_9r,nfc_10r,nfc_11r,nfc_12r,nfc_13r,nfc_14r,nfc_15r,nfc_16r,nfc_17r,nfc_18r
1,2,Green,DO NOTHING,,ADD 3,incorrect,DO NOTHING,,ADD 3,incorrect,...,5,5,4,2,2,5,5,5,3,5
2,3,Green,DO NOTHING,,ADD 3,incorrect,ADD 3,incorrect,ADD 3,incorrect,...,3,4,5,1,4,3,3,5,3,3
3,4,Green,DO NOTHING,,ADD 3,correct,DO NOTHING,,ADD 3,incorrect,...,4,4,2,4,2,2,2,4,4,4
6,7,Green,DO NOTHING,,ADD 3,correct,DO NOTHING,,DO NOTHING,,...,4,5,5,2,2,4,1,3,5,5
12,13,Green,DO NOTHING,,ADD 3,correct,ADD 3,correct,DO NOTHING,,...,4,5,5,2,3,4,3,5,1,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
184,185,Green,DO NOTHING,,DO NOTHING,,DO NOTHING,,DO NOTHING,,...,4,5,4,3,4,4,4,5,4,3
185,186,Green,ADD 3,correct,ADD 3,correct,DO NOTHING,,DO NOTHING,,...,4,4,4,4,4,4,4,5,3,4
189,190,Green,DO NOTHING,,ADD 3,correct,DO NOTHING,,ADD 3,correct,...,1,1,2,5,1,3,1,2,5,2
193,194,Green,ADD 3,incorrect,ADD 3,incorrect,ADD 3,incorrect,ADD 3,incorrect,...,4,4,4,2,4,2,4,4,2,2
195,196,Green,DO NOTHING,,DO NOTHING,,ADD 3,incorrect,ADD 3,correct,...,4,4,4,4,5,3,4,4,3,3